
<!DOCTYPE html>
<html>
<head>
	<title>Trang web đơn giản</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Chào mừng đến với trang web của tôi</h1>
	<p>Đây là một trang web đơn giản được tạo bằng HTML và CSS trong hai tệp riêng biệt.</p>
	    <div>
        @RenderBody()
    </div>
</body>
</html>
